![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### RESIDENCIAS DE MAYORES

In [1]:
#Escribe el título del proyecto en Markdown
titulo = "Residencias de Mayores"

### TEMA

In [1]:
# PRUEBA

In [2]:
# Describe brevemente el tema del proyecto en Markdown
tema = "La OMS recomienda una tasa de cobertura en residencias de mayores de un 5% por cada mayor de 64 años, se cumple esa ratio en España? y en Madrid?"

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Deberás tener más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

In [3]:
# Escribe tu hipótesis principal en Markdown
hipotesis_1 = "Hay suficientes residencias de mayores en España? y en Madrid?"

In [ ]:
# Escribe más hipótesis si las hubiera en Markdown
# hipotesis_2 = "En que provincia tendria mas sentido construir una residencia"
# hipotesis_3 = "En que municipio de Madrid tendria más sentido"
# hipotesis_4 = "Aumentara la demanda en los proximos años?"
# hipotesis_5 = "Podrá el estado seguir proporcionando plaza publicas y ayudas economicas según la demanda ( en el caso de que la hipotesis 4 sea verdadera, que lo es)"
# la 5 creo que solo la voy a dejar planteada para cuando sepa más...

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una vista del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [3]:
import pandas as pd
# guarda en variables los datasets y su fuente
poblacion_65_mas = pd.read_csv("poblacion +65 por comunidades.csv", sep="\t", encoding = "latin-1",)
fuente_1 = "INE"
pob_Madrid_65_mas = pd.read_csv("poblacion_municipios_mayores65_madrid.csv", sep="\t",encoding= "latin-1")
fuente_2 = "INE"
resdiencias_madrid = pd.read_csv("residencias_madrid_municipios.csv", delimiter = ";", encoding= "latin-1")
fuente_3 = "INE"
residencias_españa = pd.read_csv("residencias_por_provincias_comunidades_2020.csv", sep=";", encoding = "UTF-8" )
fuente_4 = "envejecimiento.csic.es"
# df_5 = pd.DataFrame()
# fuente_5 = ""
# ...

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [14]:
# dataset poblacion >64 años por comunidades
poblacion_65_mas.head(10)

  Comunidades y Ciudades Autónomas    Total                Edad Fecha
0                           España  9479010  65 -100 años y mas  2022
1                     01 Andalucía  1526988  65 -100 años y mas  2022
2                        02 Aragón   292934  65 -100 años y mas  2022
3       03 Asturias, Principado de   272856  65 -100 años y mas  2022
4                04 Balears, Illes   192285  65 -100 años y mas  2022
5                      05 Canarias   372867  65 -100 años y mas  2022
6                     06 Cantabria   135065  65 -100 años y mas  2022
7               07 Castilla y León   622101  65 -100 años y mas  2022
8          08 Castilla - La Mancha   395507  65 -100 años y mas  2022
9                      09 Cataluña  1501795  65 -100 años y mas  2022

In [6]:
poblacion_65_mas.shape

(160, 7)

In [7]:
# dataset poblacion >64 por municipios
pob_Madrid_65_mas.head(10)

,Sexo,Provincias,Municipios,Edad (grupos quinquenales),Periodo,Total
0,Total,28 Madrid,NaN,De 65 a 69 años,1 de enero de 2022,329.303
1,Total,28 Madrid,NaN,De 70 a 74 años,1 de enero de 2022,294.514
2,Total,28 Madrid,NaN,De 75 a 79 años,1 de enero de 2022,242.218
3,Total,28 Madrid,NaN,De 80 a 84 años,1 de enero de 2022,163.620
4,Total,28 Madrid,NaN,De 85 a 89 años,1 de enero de 2022,126.636
5,Total,28 Madrid,NaN,De 90 a 94 años,1 de enero de 2022,60.952
6,Total,28 Madrid,NaN,De 95 a 99 años,1 de enero de 2022,16.451
7,Total,28 Madrid,NaN,100 y más años,1 de enero de 2022,2.615
8,Total,28 Madrid,"28001 Acebeda, La",De 65 a 69 años,1 de enero de 2022,11.000
9,Total,28 Madrid,"28001 Acebeda, La",De 70 a 74 años,1 de enero de 2022,12.000

In [8]:
pob_Madrid_65_mas.shape

(1440, 6)

In [4]:
# dataset residencias por comunidades
resdiencias_madrid.head(20)

,Denominación,Vía,Nombre vía,Núm. Vía,C. Postal,Municipio,Teléfono,Titularidad,Plazas,URL,Latitud,Longitud,Unnamed: 12
0,Residencia de ancianos Los Jazmines,Camino,Carborneros,s/n,28607.0,Álamo (El),91 812 07 69,Privada,22.0,NaN,"40,246500","-3,993100",25/11/2020
1,Residencia de 3ª edad San Juan de Dios,Carretera,de Navalcarnero - Chinchón,Km. 5,28607.0,Álamo (El),91 812 14 14,Privada,303.0,www.residenciasanjuandedios.es,"40,237400","-3,993840",21/09/2020
2,Residencia de la 3ª edad Benja,Avenida,de Toledo,23,28607.0,Álamo (El),91 810 41 50,Privada,188.0,www.residenciasdoctorlopezmalla.com,"40,230334","-3,985376",07/05/2015
3,Residencia Santa Gema Galgani,Calle,Pensamientos,20,28607.0,Álamo (El),91 812 09 40,Privada,14.0,www.residencia-santa-gema-galgani.com,"40,224957","-3,996695",03/10/2020
4,Residencia La Edad de Oro,Avenida,Príncipe de Asturias,1,28607.0,Álamo (El),91 812 22 85,Privada,111.0,NaN,"40,236131","-3,991305",03/12/2020
5,Residencia de mayores Hospital de Antezana,Calle,Mayor,46,28801.0,Alcalá de Henares,91 881 94 47,Privada sin fin de lucro,23.0,fundacionantezana.org,"40,482228","-3,366894",16/09/2020
6,Residencia Cervantes I y II,Calle,José Caballero,3,28805.0,Alcalá de Henares,91 883 06 05,Privada,57.0,www.residenciacervantes.com,"40,488965","-3,349827",20/11/2020
7,Residencia de personas mayores Francisco de Vi...,Calle,Villamalea,1,28805.0,Alcalá de Henares,91 889 30 50,Pública autonómica,526.0,NaN,"40,508024","-3,357504",25/11/2020
8,Residencia de personas mayores Cisneros,Avenida,de Ajalvir,1,28806.0,Alcalá de Henares,91 880 00 15,Pública autonómica,127.0,www.comunidad.madrid/centros/residencia-person...,"40,489541","-3,376695",24/11/2020
9,DomusVi Espartales,Calle,Gustavo Adolfo Bécquer,27,28806.0,Alcalá de Henares,91 884 20 27,Privada,142.0,www.domusvi.es/residencia-de-ancianos-en-alcal...,"40,511397","-3,374137",16/09/2020
10,DomusVi Alcalá de Henares,Avenida,Miguel de Unamuno,5,28806.0,Alcalá de Henares,91 830 35 52,Privada,180.0,www.domusvi.es/residencia-de-mayores-alcala-de...,"40,497000","-3,373850",17/09/2020
11,Sanitas Residencial Henares,Calle,Miguel Delibes,2,28806.0,Alcalá de Henares,91 830 35 11,Privada,136.0,www.sanitas.es/sanitasresidencial/residencias-...,"40,494390","-3,371467",01/12/2020
12,Ballesol Alcalá de Henares,Calle,Octavio Paz,21,28806.0,Alcalá de Henares,91 802 92 12 / 91 830 10 09,Privada,260.0,ballesol.es/residencias-para-mayores-en-la-com...,"40,502070","-3,367425",09/04/2019
13,AMAVIR Alcalá de Henares,Calle,Octavio Paz,13,28806.0,Alcalá de Henares,901 30 20 10,Privada,180.0,www.amavir.es/residencia-de-mayores-amavir-alc...,"40,500700","-3,371600",17/04/2019
14,Orpea Alcobendas,Avenida,Miguel de Cervantes,3,28100.0,Alcobendas,91 490 06 78,Privada,180.0,orpea.es/centros-residencias/centro-dia-reside...,"40,549784","-3,650733",25/09/2017
15,Ballesol Alcobendas,Calle,Ramón y Cajal,1,28100.0,Alcobendas,91 662 50 87,Privada,154.0,ballesol.es/residencias-para-mayores-en-la-com...,"40,540987","-3,649774",18/05/2015
16,Orpea La Moraleja,Carretera,de Burgos,Km. 14 - Urb. Cuesta Blanca,28108.0,Alcobendas,91 650 89 10,Privada,132.0,orpea.es/centros-residencias/residencia-ancian...,"40,519900","-3,653640",27/10/2020
17,Residencia Gastón Baquero,Calle,Francisco Chico Mendes,8,28108.0,Alcobendas,91 661 71 91 / 91 661 28 76,Pública autonómica,201.0,NaN,"40,522077","-3,652882",24/11/2020
18,Sanitas Residencial La Moraleja,Avenida,La Vega,20,28108.0,Alcobendas,91 490 37 70,Privada,126.0,www.sanitas.es/sanitasresidencial/residencias-...,"40,534613","-3,633549",31/07/2017
19,Caser Residencial La Moraleja,Calle,Salvia,133,28109.0,Alcobendas,91 659 73 02,Privada,295.0,www.caseresidencial.es/la-moraleja,"40,529931","-3,632440",13/09/2017

In [10]:
resdiencias_madrid.shape

(563, 13)

In [55]:
# dataset residencias por municipios
residencias_españa.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Total centros 2020,NaN,NaN,Distribución de centros 1 según tamaño,NaN,NaN,NaN,NaN
2,NaN,Absoluto,Centros 1,N. S. 2,< 25,25 - 49,50-99,>= 100,TOTAL
3,TOTAL,5.567,5.556,11,1.221,1.515,1.564,1.256,5.556
4,Andalucía,668,667,1,119,234,166,148,667
5,Almería,43,43,0,1,15,13,14,43
6,Cádiz,68,68,0,7,23,17,21,68
7,Córdoba,87,87,0,7,35,27,18,87
8,Granada,74,74,0,8,23,21,22,74
9,Huelva,37,37,0,5,15,9,8,37

In [58]:
residencias_españa.shape

(71, 9)

In [4]:
poblacion_65_mas.head()

  Comunidades y Ciudades Autónomas Edad (grupos quinquenales)   Año      Total
0                           España                 65-69 años  2022  2.548.001
1                           España                 70-74 años  2022  2.225.627
2                           España                 75-79 años  2022  1.840.899
3                           España                 80-84 años  2022  1.256.786
4                           España                 85-89 años  2022  1.004.545

In [2]:
poblacion_65_mas = poblacion_65_mas.drop(columns=["Total Nacional", "Españoles/Extranjeros", "Sexo"])

In [3]:
poblacion_65_mas["Comunidades y Ciudades Autónomas"] = poblacion_65_mas["Comunidades y Ciudades Autónomas"].fillna("España")

In [4]:
poblacion_65_mas.head(10)

  Comunidades y Ciudades Autónomas Edad (grupos quinquenales)   Año      Total
0                           España                 65-69 años  2022  2.548.001
1                           España                 70-74 años  2022  2.225.627
2                           España                 75-79 años  2022  1.840.899
3                           España                 80-84 años  2022  1.256.786
4                           España                 85-89 años  2022  1.004.545
5                           España                 90-94 años  2022    464.255
6                           España                 95-99 años  2022    119.258
7                           España             100 años y más  2022     19.639
8                     01 Andalucía                 65-69 años  2022    438.137
9                     01 Andalucía                 70-74 años  2022    367.290

In [5]:
poblacion_65_mas['Total'] = poblacion_65_mas['Total'].apply(lambda x: int(x.replace('.', '')))
poblacion_65_mas['Año'] = poblacion_65_mas['Año'].astype(str)
poblacion_65_mas = poblacion_65_mas.groupby(poblacion_65_mas.index // 8).agg({'Comunidades y Ciudades Autónomas': 'first',
                                     'Edad (grupos quinquenales)': lambda x: ', '.join(x),
                                     'Año': lambda x: ', '.join(x),
                                     'Total': 'sum'})

In [6]:
poblacion_65_mas['Edad'] = poblacion_65_mas['Edad (grupos quinquenales)'].apply(lambda x: "65 -100 años y mas")
poblacion_65_mas.drop(columns=['Edad (grupos quinquenales)'], inplace=True)

In [10]:
poblacion_65_mas.head(10)

  Comunidades y Ciudades Autónomas    Total                Edad Fecha
0                           España  9479010  65 -100 años y mas  2022
1                     01 Andalucía  1526988  65 -100 años y mas  2022
2                        02 Aragón   292934  65 -100 años y mas  2022
3       03 Asturias, Principado de   272856  65 -100 años y mas  2022
4                04 Balears, Illes   192285  65 -100 años y mas  2022
5                      05 Canarias   372867  65 -100 años y mas  2022
6                     06 Cantabria   135065  65 -100 años y mas  2022
7               07 Castilla y León   622101  65 -100 años y mas  2022
8          08 Castilla - La Mancha   395507  65 -100 años y mas  2022
9                      09 Cataluña  1501795  65 -100 años y mas  2022

In [8]:
poblacion_65_mas['Fecha'] = poblacion_65_mas['Año'].apply(lambda x: "2022")
poblacion_65_mas.drop(columns=['Año'], inplace=True)

In [9]:
residencias_españa.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Total centros 2020,NaN,NaN,Distribución de centros 1 según tamaño,NaN,NaN,NaN,NaN
2,NaN,Absoluto,Centros 1,N. S. 2,< 25,25 - 49,50-99,>= 100,TOTAL
3,TOTAL,5.567,5.556,11,1.221,1.515,1.564,1.256,5.556
4,Andalucía,668,667,1,119,234,166,148,667

In [11]:
# ya ejecutado
residencias_españa = residencias_españa.iloc[2:,:2]

In [12]:
residencias_españa.head(20)

                  Unnamed: 0 Unnamed: 1
2                        NaN   Absoluto
3                      TOTAL      5.567
4                  Andalucía        668
5                    Almería         43
6                      Cádiz         68
7                    Córdoba         87
8                    Granada         74
9                     Huelva         37
10                      Jaén         72
11                    Málaga        127
12                   Sevilla        160
13                    Aragón        275
14                    Huesca         55
15                    Teruel         35
16                  Zaragoza        185
17  Asturias (Principado de)        238
18           Balears (Illes)         57
19                  Canarias         95
20              Palmas (Las)         34
21    Santa Cruz de Tenerife         61

In [13]:
residencias_españa.columns = ["Comunidades y Ciudades Autónomas" , "nº de residencias"]

In [14]:
residencias_españa.loc[3,"Comunidades y Ciudades Autónomas"] = "España"
residencias_españa.head()

  Comunidades y Ciudades Autónomas nº de residencias
2                              NaN          Absoluto
3                           España             5.567
4                        Andalucía               668
5                          Almería                43
6                            Cádiz                68

In [21]:
poblacion_65_mas.head(10)

  Comunidades y Ciudades Autónomas    Total                Edad Fecha
0                           España  9479010  65 -100 años y mas  2022
1                        Andalucía  1526988  65 -100 años y mas  2022
2                           Aragón   292934  65 -100 años y mas  2022
3          Asturias, Principado de   272856  65 -100 años y mas  2022
4                   Balears, Illes   192285  65 -100 años y mas  2022
5                         Canarias   372867  65 -100 años y mas  2022
6                        Cantabria   135065  65 -100 años y mas  2022
7                  Castilla y León   622101  65 -100 años y mas  2022
8             Castilla - La Mancha   395507  65 -100 años y mas  2022
9                         Cataluña  1501795  65 -100 años y mas  2022

In [24]:
residencias_españa.head(60)

   Comunidades y Ciudades Autónomas nº de residencias
2                               NaN          Absoluto
3                            España             5.567
4                         Andalucía               668
5                           Almería                43
6                             Cádiz                68
7                           Córdoba                87
8                           Granada                74
9                            Huelva                37
10                             Jaén                72
11                           Málaga               127
12                          Sevilla               160
13                           Aragón               275
14                           Huesca                55
15                           Teruel                35
16                         Zaragoza               185
17         Asturias (Principado de)               238
18                  Balears (Illes)                57
19                         Canarias                95
20                     Palmas (Las)                34
21           Santa Cruz de Tenerife                61
22                        Cantabria                66
23                  Castilla y León               686
24                            Ávila                50
25                           Burgos                91
26                             León               110
27                         Palencia                57
28                        Salamanca               123
29                          Segovia                42
30                            Soria                35
31                       Valladolid               115
32                           Zamora                63
33               Castilla-La Mancha               497
34                         Albacete                50
35                      Ciudad Real               109
36                           Cuenca               100
37                      Guadalajara                75
38                           Toledo               163
39                         Cataluña               999
40                        Barcelona               752
41                           Girona                86
42                           Lleida                83
43                        Tarragona                78
44             Comunitat Valenciana               325
45                 Alicante/Alacant                98
46               Castellón/Castelló                40
47                Valencia/València               187
48                      Extremadura               288
49                          Badajoz               122
50                          Cáceres               166
51                          Galicia               333
52                       Coruña (A)                91
53                             Lugo                57
54                          Ourense               115
55                       Pontevedra                70
56            Madrid (Comunidad de)               477
57               Murcia (Región de)                62
58     Navarra (Comunidad Foral de)                77
59                       País Vasco               387
60                      Araba/Álava                94
61                          Bizkaia               216

In [17]:
poblacion_65_mas['Comunidades y Ciudades Autónomas'] = poblacion_65_mas['Comunidades y Ciudades Autónomas'].replace('\d+', '', regex=True)

In [33]:
poblacion_65_por_residencia = pd.merge(poblacion_65_mas, residencias_españa, on="Comunidades y Ciudades Autónomas")

In [34]:
poblacion_65_por_residencia.head()

,Comunidades y Ciudades Autónomas,Total,Edad,Fecha,nº de residencias
0,España,9479010,65 -100 años y mas,2022,5.567

In [26]:
df_prueba = pd.concat([poblacion_65_mas, residencias_españa], axis = 1)

In [31]:
df_prueba.head(60)

,Comunidades y Ciudades Autónomas,Total,Edad,Fecha,Comunidades y Ciudades Autónomas,nº de residencias
0,España,9479010.0,65 -100 años y mas,2022,NaN,NaN
1,Andalucía,1526988.0,65 -100 años y mas,2022,NaN,NaN
2,Aragón,292934.0,65 -100 años y mas,2022,NaN,Absoluto
3,"Asturias, Principado de",272856.0,65 -100 años y mas,2022,España,5.567
4,"Balears, Illes",192285.0,65 -100 años y mas,2022,Andalucía,668
5,Canarias,372867.0,65 -100 años y mas,2022,Almería,43
6,Cantabria,135065.0,65 -100 años y mas,2022,Cádiz,68
7,Castilla y León,622101.0,65 -100 años y mas,2022,Córdoba,87
8,Castilla - La Mancha,395507.0,65 -100 años y mas,2022,Granada,74
9,Cataluña,1501795.0,65 -100 años y mas,2022,Huelva,37
10,Comunitat Valenciana,1018221.0,65 -100 años y mas,2022,Jaén,72
11,Extremadura,226723.0,65 -100 años y mas,2022,Málaga,127
12,Galicia,702630.0,65 -100 años y mas,2022,Sevilla,160
13,"Madrid, Comunidad de",1236309.0,65 -100 años y mas,2022,Aragón,275
14,"Murcia, Región de",246839.0,65 -100 años y mas,2022,Huesca,55
15,"Navarra, Comunidad Foral de",134616.0,65 -100 años y mas,2022,Teruel,35
16,País Vasco,512517.0,65 -100 años y mas,2022,Zaragoza,185
17,"Rioja, La",68851.0,65 -100 años y mas,2022,Asturias (Principado de),238
18,Ceuta,10392.0,65 -100 años y mas,2022,Balears (Illes),57
19,Melilla,9514.0,65 -100 años y mas,2022,Canarias,95
20,NaN,NaN,NaN,NaN,Palmas (Las),34
21,NaN,NaN,NaN,NaN,Santa Cruz de Tenerife,61
22,NaN,NaN,NaN,NaN,Cantabria,66
23,NaN,NaN,NaN,NaN,Castilla y León,686
24,NaN,NaN,NaN,NaN,Ávila,50
25,NaN,NaN,NaN,NaN,Burgos,91
26,NaN,NaN,NaN,NaN,León,110
27,NaN,NaN,NaN,NaN,Palencia,57
28,NaN,NaN,NaN,NaN,Salamanca,123
29,NaN,NaN,NaN,NaN,Segovia,42
30,NaN,NaN,NaN,NaN,Soria,35
31,NaN,NaN,NaN,NaN,Valladolid,115
32,NaN,NaN,NaN,NaN,Zamora,63
33,NaN,NaN,NaN,NaN,Castilla-La Mancha,497
34,NaN,NaN,NaN,NaN,Albacete,50
35,NaN,NaN,NaN,NaN,Ciudad Real,109
36,NaN,NaN,NaN,NaN,Cuenca,100
37,NaN,NaN,NaN,NaN,Guadalajara,75
38,NaN,NaN,NaN,NaN,Toledo,163
39,NaN,NaN,NaN,NaN,Cataluña,999
40,NaN,NaN,NaN,NaN,Barcelona,752
41,NaN,NaN,NaN,NaN,Girona,86
42,NaN,NaN,NaN,NaN,Lleida,83
43,NaN,NaN,NaN,NaN,Tarragona,78
44,NaN,NaN,NaN,NaN,Comunitat Valenciana,325
45,NaN,NaN,NaN,NaN,Alicante/Alacant,98
46,NaN,NaN,NaN,NaN,Castellón/Castelló,40
47,NaN,NaN,NaN,NaN,Valencia/València,187
48,NaN,NaN,NaN,NaN,Extremadura,288
49,NaN,NaN,NaN,NaN,Badajoz,122
50,NaN,NaN,NaN,NaN,Cáceres,166
51,NaN,NaN,NaN,NaN,Galicia,333
52,NaN,NaN,NaN,NaN,Coruña (A),91
53,NaN,NaN,NaN,NaN,Lugo,57
54,NaN,NaN,NaN,NaN,Ourense,115
55,NaN,NaN,NaN,NaN,Pontevedra,70
56,NaN,NaN,NaN,NaN,Madrid (Comunidad de),477
57,NaN,NaN,NaN,NaN,Murcia (Región de),62
58,NaN,NaN,NaN,NaN,Navarra (Comunidad Foral de),77
59,NaN,NaN,NaN,NaN,País Vasco,387